.page-details{
    h5{
        color: #0c0d36;
        font-size: 18px;
        font-weight: 300;
    }
    .store-gallery {
        margin-top: 20px;

        img{
            border-radius: 10px;
        }

        .thumbnail-image{
            margin-bottom: 20px;
            border: 3px solid transparent;

            &:hover,&.active {
                border: 3px solid #FF7158;
            }
        }
    }

    .store-heading{
        padding-top: 20px;
        margin-bottom: 10px;
        h1 {
            font-weight: 500;
            font-size: 24px;
            line-height: 36px;
            color: #0C0D36;
            margin-bottom: 0;
        }
        .owner{
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 8px;
        }
        .price{
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #FF7158;
        }
    }
 
    .store-description{
        p{
            font-size: 16px;
            color: #525252;
        }
    }

    .store-review{
        .media{
            img{
                width: 50px;
            }
            .media-body{
                font-size: 16px;
                line-height: 180%;
                color: #525252;
                margin-bottom: 20px;
                h5{
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 180%;
                    color: #0c0d36;
                }
            }
        }
    }
}